* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --primary-colour: #363aeb;
  --secondary-colour: #fffd85;
  --white: #fcfcfc;
  --black: #3b3b3b;
}

body {
  display: grid;
  grid-template:
    "header header"
    "aside sort-section"
    "aside main" 1fr /
    minmax(300px, 1fr) 4fr;

  height: 100vh;

  font-family: sans-serif;
  color: var(--black);
  background-color: var(--white);
}

.header {
  grid-area: header;
  background-color: var(--primary-colour);
  padding: 2rem;
  color: var(--secondary-colour);
}

.aside {
  display: grid;
  grid-template-columns: 250px;
  place-content: center;
  grid-area: aside;
  background-color: var(--secondary-colour);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 3px, rgba(0, 0, 0, 0.23) 0px 3px 3px;
}

.sort-section {
  grid-area: sort-section;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 3px -3px,
    rgba(0, 0, 0, 0.23) 0px 3px 3px -3px;
}

.main {
  grid-area: main;
  overflow-y: scroll;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  gap: 1rem;
  justify-content: center;

  padding: 2rem 0;
}

.card {
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid var(--black);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.39) 0px 1px 4px;
}

.card__header {
  display: grid;
  place-items: center;
  height: 3rem;
}

.card p {
  display: inline-block;
  width: 49%;
  padding: 0.5rem 0;
}

.card img {
  margin: 0.5rem auto;
  display: block;
}

.sort-form {
  display: inline-block;
  background-color: var(--secondary-colour);
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

.filter-form {
  padding: 1rem;
  background-color: var(--white);
  border: 1px solid var(--black);
  border-radius: 10px;
}
.filter-form .form__section {
  margin: 1rem auto;
}

.filter-form .form__section input {
  display: block;
}

.filter-form .form__section input[type="number"] {
  width: 100px;
}

.filter-form .form__section label {
  display: block;
  margin-bottom: 0.4rem;
}
